/* abstracts */
@import "./_abstracts/mixins.scss";
@import "./_abstracts/variables.scss";
@import "./_abstracts/functions.scss";

/* base */
@import "./_base/fonts.scss";
@import "./_base/reset.scss";

$side-pagging: 25px;
$top-padding: 10px;

$noteIcon-parameters: 8px;

body {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
}

.containerSpoiler {
  gap: 20px;
  // border: 1px solid #000;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.dummy {
  width: 100%;
  height: 300px;
  background: #000;
  color: white;
  font-size: 60px;
}

.spoiler {
  // clear bootstrap styles
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  // clear bootstrap styles end

  max-width: 380px;
  width: 100%;
  // font-family: "Open Sans", sans-serif;
  font-family: "Fira Sans", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  .lastElement {
    .cell {
      &__container {
        cursor: default;
        padding-left: 10px;
        &:before {
          display: none;
        }
      }
    }
  }

  &__title {
    font-size: 17px;
    border-radius: inherit;
    font-weight: 600;
    padding: 12px $side-pagging;
    border-bottom: 1px solid #d3d3d3;
  }

  &__title,
  &__summary {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border: 1px solid #d8d8d8;
    background-color: white;
  }

  &__summary ~ .accordion > .accordion__cell {
    margin: 0;
  }
}

.summary {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 45px $side-pagging 60px $side-pagging;
  position: relative;

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__percents {
    color: #bebb65;
    font-size: 30px;
    justify-self: end;
  }

  &__data {
    &_chunk {
    }
  }
}

.accordion {
  background-color: transparent;
  transition: 0.4s ease-in-out;

  .toggleArrow {
    & > .cell__container {
      &::before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  &__cell {
    margin-left: 15px;
    & .accordion {
      display: none;
      // overflow: hidden;

      // for box shadow visible
      padding: 0 6px;
      margin: 0 -6px;
    }

    & .active {
      display: block;
      & > .accordion__cell:first-of-type > .cell__container {
        box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.161);
      }
    }
  }
}

.cell {
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.161);
    border: 1px solid #dfdfdf;
    border-top: 0px;
    padding: $top-padding $side-pagging;
    transition: 0.5s ease;

    &::before {
      background-image: url("../resources/icons/arrow.svg");
      background-position: center;
      background-size: cover;
      width: 12px;
      height: 5px;
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: $side-pagging / 2;
      transform: translate(-50%, -50%) rotate(-90deg);
      transition: 0.5s ease;
    }
  }

  &__personWrapper {
    display: flex;
    margin-right: 20px;
  }

  &__photo {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__note {
    position: absolute;
    top: $top-padding;
    right: $side-pagging - 5px;
    transform: translateX(100%);
    width: $noteIcon-parameters;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $noteIcon-parameters;
    border: 1px solid #707070;
    font-size: 8px;
    color: #ffffff;
    background: #959595;
    z-index: 3;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      .cell__hiddenText {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__hiddenText {
    border: 1px solid #707070;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    line-height: 1.2;
    color: black;
    font-size: 12px;
    min-width: 20em;
    position: absolute;
    top: $noteIcon-parameters;
    z-index: 5;
    right: $noteIcon-parameters;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    &::before {
      content: "";
      top: -$noteIcon-parameters;
      left: +$noteIcon-parameters;
      display: block;
      background-color: transparent;
      opacity: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__textInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }

  &__name {
    font-size: 12px;
    font-weight: 600;
  }

  &__position {
    font-size: 10px;
    color: #929292;
  }

  &__percents {
    font-size: 16px;
    justify-self: end;
    font-weight: 600;
  }

  &__progressBar {
  }
}

.progressBar {
  &__line {
    height: 3px;
    background: linear-gradient(90deg, #cf4444 0%, #ece86b 50.6%, #329632 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__activeState {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 0%;
    background: white;
  }
}

@media (max-width: 460px) {
  .summary {
    &__percents {
      font-size: 24px;
    }
    &__title {
      font-size: 20px;
    }
  }

  .cell {
    &__percents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 14px;
    }
  }
}
